/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
* {
    font-family: sans-serif;
}
.font-weight-bold {
    font-weight: bold;
}
.style-input {
    font-size: 12px !important;
    height: 40px;
    border: 2px solid #347ceba6 !important;
    border-radius: 0.3rem !important;
}
.font-size-label {
    font-size: 14px !important;
}
.mg-top-small {
    margin-bottom: 1rem;
}
.display-flex {
    display: flex;
}
.error-text {
    color: red;
    font-size: 12px;
    padding-left: 14px;
    padding-top: 5px;
}
.flash-danger {
    color: red;
    font-size: 12px;
}
.font-size-12 {
    font-size: 12px;
}
.header-title {
    font-size: 20px !important;
    font-weight: bold !important;
}

 @import 'bootstrap/scss/bootstrap';
